@font-face {
    font-family: "NotoSansSC-Bold";
    src: url("/fonts/NotoSansSC-Bold.otf") format("truetype");
}

@font-face {
    font-family: "NotoSansSC-Regular";
    src: url("/fonts/NotoSansSC-Regular.otf") format("truetype");
}

@font-face {
    font-family: "JetBrainsMono-VariableFont_wght";
    src: url("/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}